* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

.parent{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
   background-color: #222;
}
.card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.card p{
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.5;
}
.card button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}